body {
    font-family: 'Roboto', sans-serif; /* Texto geral */
    margin: 0px;
    height: 100vh; /* Altura total da viewport */
    padding: 0;
    background-color: #f9f9f9; /* Fundo suave */
    color: #333333; /* Texto principal */
}

h2, h3 {
    font-family: 'Roboto Slab', serif; /* Títulos */
    margin: 0;
}

header {
    flex-direction: row;
    justify-content: center; /* Alinha verticalmente os itens ao centro */
    position: fixed; /* Fixa o header no topo */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    width: 100%; /* Largura total */
    padding: 10px 0; /* Espaçamento interno */
    background-color: #7E0000; /* Vermelho CPS para o cabeçalho */
    color: #FFFFFF; /* Texto branco */
}

.main-container {
    margin-top: 80px; /* Espaço para o cabeçalho fixo */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPrincipal {
    display: flex; 
    flex-direction: column; 
    border: 1px solid #E6E6E6; /* Borda sutil */
    border-radius: 8px;
    padding: 20px; 
    margin: 20px; /* Margem para afastar do canto */
    background-color: #FFFFFF; /* Fundo branco para o conteúdo */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.div1, .div2 {
    margin-bottom: 20px; /* Espaçamento entre divs */
}

.subdiv1, .subdiv2 {
    display: flex; 
    flex-direction: column; 
    padding: 10px; 
    border: 1px solid #E6E6E6; /* Borda sutil */
    border-radius: 4px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dadada; /* Borda sutil */
    border-radius: 4px;
    background-color: #FFFF; 
    color: #666666; 
}

textarea {
    resize: vertical;
}

.button-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
}

button {
    display: flex; /* Ativa o flexbox para o botão */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    padding: 10px 20px; 
    font-size: 16px; 
    border: 1px solid #B20000; /* Borda sutil */
    border-radius: 4px; 
    cursor: pointer; 
    background-color:#B20000; /* Vermelho para o botão */
    color: #f8f8f8; /* Texto branco */
    transition: background-color 0.3s; /* Efeito de transição */
}

button:hover {
    background-color: #7E0000; /* Cor ao passar o mouse */
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666666; /* Texto sutil para rodapé */
    text-align: center;
}
