/* Estilos gerais para o corpo da página */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #F0F0F0; /* Fundo cinza claro */
    color: #000000; /* Texto preto */
}

/* Estilos para o cabeçalho fixo */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background-color: #E03C31; /* Vermelho escuro para o cabeçalho */
    color: #FFFFFF; /* Texto branco */
}

/* Estilos para o título da página */
h2 {
    text-align: center; /* Centraliza o título */
    margin-top: 60px; /* Espaçamento acima do título */
}

/* Estilos para a div principal */
.principal {
    display: flex;
    flex-direction: row; /* Alinha os elementos em linha */
    border: 2px solid #A7A8AA;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 20px auto 0; /* Margem superior e centralização */
    background-color: #FFFFFF; /* Fundo branco da div principal */
}

/* Estilos para o formulário */
.formulario {
    flex: 1; /* Ocupa o espaço restante */
    margin-right: 20px; /* Espaçamento à direita da div de formulário */
}

/* Estilos para os campos de entrada */
input {
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #A7A8AA; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    margin-bottom: 15px; /* Espaçamento abaixo de cada campo */
    width: 100%; /* Largura total dos campos de entrada */
}

/* Estilos para os botões */
button {
    margin-top: 10px; /* Espaçamento acima dos botões */
    padding: 10px; /* Espaçamento interno dos botões */
    border: 1px solid #000000; /* Borda preta */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #E03C31; /* Vermelho CPS */
    color: #FFFFFF; /* Texto branco */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    width: 100%; /* Largura total dos botões */
}

/* Efeito ao passar o mouse sobre os botões */
button:hover {
    background-color: #A72A2A; /* Muda para vermelho escuro ao passar o mouse */
}

/* Estilos da tabela */
.tabela {
    flex: 2; /* Ocupa o espaço restante, com escala 2 */
}

/* Estilos da tabela */
table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Colapsa as bordas da tabela */
    margin-top: 20px; /* Espaçamento acima da tabela */
}

/* Estilos para células e cabeçalho da tabela */
th, td {
    border: 1px solid #A7A8AA; /* Borda cinza */
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto */
}

/* Estilos para cabeçalhos da tabela */
th {
    background-color: #E03C31; /* Vermelho CPS para cabeçalhos da tabela */
    color: #FFFFFF; /* Texto branco */
}
