header {
    display: flex;             
    justify-content: space-between; /* Alinha as divs com espaço entre elas */
    align-items: center;      
    height: 100px;            
    border: 1px solid black;  /* Adiciona uma borda preta fina ao header */
    padding: 0 20px;          /* Adiciona padding (superior/inferior: 0, lateral: 20px) */
}

#titulo-principal {
    font-weight: bold;          /* Deixa o texto em negrito */
    text-align: center;        /* Centraliza o texto dentro da div */
    white-space: pre-wrap;     /* Permite quebras de linha */
    margin: 0;                 /* Remove margens para melhor controle */
    font-size: 2em;            /* Aumenta o tamanho da fonte */
}

#titulo-secundario {
    font-weight: bold;          /* Deixa o texto em negrito */
    font-size: 1em;            /* Define um tamanho de fonte padrão para o link "Sair" */
    text-align: center;        /* Centraliza o texto dentro da div */
}

#CorpoInterno {
    max-width: 800px;                /* Define a largura máxima da div */
    margin: 20px auto;               /* Centraliza a div horizontalmente com margem superior/inferior de 20px */
    padding: 20px;                   /* Espaçamento interno da div */
    border: 1px solid black;         /* Contorno preto */
    border-radius: 10px;            /* Bordas levemente arredondadas */
    background-color: #f9f9f9;      /* Cor de fundo leve (opcional) */
    display: flex;                   /* Define o display como flex */
    flex-direction: column;          /* Direção das divs será coluna */
    align-items: center;             /* Centraliza horizontalmente */
}

#PrincipalA {
    display: flex; /* Define o display como flex para alinhar os itens dentro */
    justify-content: space-between; /* Alinha as divs com espaço entre elas */
    width: 100%; /* Faz a div ocupar toda a largura do container */
    margin-bottom: 20px; /* Adiciona espaço abaixo da PrincipalA */
}

#boas-vindas {
    display: flex; /* Define o display como flex para alinhar os itens dentro */
    flex-direction: column; /* Direção das divs será coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
}

#nova-solicitacao {
    display: flex; /* Define o display como flex para alinhar os itens dentro */
    align-items: center; /* Alinha verticalmente os itens ao centro */
}

#PrincipalB {
    width: 100%; /* Faz a div ocupar toda a largura do container */
}

table {
    width: 100%; /* Faz a tabela ocupar toda a largura do seu container */
    border-collapse: collapse; /* Colapsa as bordas da tabela */
}

th, td {
    border: 1px solid black; /* Bordas das células da tabela */
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda */
}

h3 {
    text-align: center; /* Centraliza o título da tabela */
}
