/* ---------- FERRAMENTA DE DESENVOLVIMENTO ---------- */

/* header {border: thin, solid, black;}
body {border: thin, solid, black;}
#divInterior {border: thin, solid, black;}
#divInterior01 {border: thin, solid, black;}
#divInterior02 {border: thin, solid, black;}
#divInterior03 {border: thin, solid, black;} */

/* ----------- FORMATAÇÃO CSS ---------- */

header {
    padding: 10px; /* Espaçamento interno de 10 pixels */
    height: 75px; /* Altura fixa do header */
    display: flex; /* Utiliza Flexbox para layout */
    justify-content: flex-start; /* Alinha os itens no início do eixo X */
    align-items: center; /* Alinha os itens no centro do eixo Y */
    border: thin solid black; /* Borda fina, solida da cor preta*/
}

body {
    position: relative; /* Permite que elementos filhos sejam posicionados em relação ao body */
    height: 100vh; /* Altura da tela completa */
    margin: 0; /* Remove margens padrão do body */
}

#titulo {
    font-weight: bold; /* Texto em negrito */
    font-size: 2rem; /* Tamanho da fonte ajustado para unidade relativa */
    text-align: center; /* Centraliza o texto horizontalmente */
}

#divInterior {
    display: flex; /* Permite um layout flexível dentro da div */
    flex-direction: column; /* Alinha os itens em uma coluna */
    padding: 10px; /* Espaçamento interno */
    width: 90%; /* Largura ajustada para 90% da tela */
    max-width: 500px; /* Largura máxima para manter um limite */
    height: auto; /* Altura automática para melhor adaptação ao conteúdo */
    border: thin solid black; /* Borda fina, sólida, da cor preta */
    border-radius: 15px; /* Cantos arredondados */
    background-image: url(img/Efeito01.png); /* Imagem de fundo */
    background-position: right; /* Posiciona a imagem à direita */
    background-size: contain; /* Redimensiona a imagem para caber na div */
    background-repeat: no-repeat; /* Não repete a imagem */

    /* Centralização */
    position: absolute; /* Permite posicionamento absoluto */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar corretamente */
}

.error {
    border: 2px solid red; /* Contorno vermelho */
}


/* -- Adicionando media query para responsividade -- */
@media (max-width: 600px) {
    #titulo {
        font-size: 1.5rem; /* Tamanho da fonte menor em telas pequenas */
    }

    #divInterior {
        width: 95%; /* Aumenta a largura em telas pequenas */
        padding: 5px; /* Reduz o padding em telas pequenas */
    }
}


